.top-of-page {
  /*height: 125px;*/
  position: relative;
  border-bottom: solid black;
}

.absolute-bottom-align {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 500px;
}

.relative-bottom-align {
  position: relative;
  text-align: center;
  left: -50%;
}

.logo {
  position: relative;
  left: 60px;
}

.formText {
  position: relative;
  padding-bottom: 10px;
}

.submitButton {
  float: right;
}
