
.top-of-page {
  width: 100%;
  border-bottom: solid black;
}

.absolute-bottom-align {
  position: absolute;
  width: 500px;
}

.relative-bottom-align {
  bottom: 0px;
  position: relative;
  text-align: center;
}

.logo {
  position: relative;
  float: left;
}

.formText {
  position: relative;
  padding-bottom: 10px;
}

.submitButton {
  float: right;
}

.filter-form {
  /*position: absolute;*/
  padding-top: 65px;
  bottom: 0px;
}

.buttons {
  padding-top: 90px;
  bottom: 0px;
}

#root, .container-fluid, .car {
  height: 100%;
  background: #FFFAFA;
  padding: 0;
  /*width: 100%;*/
}
.thing img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}


.full-row {
  height: 100%;
  display:flex;
  flex-direction:row;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.carLeft {
  height: 100%;
  width: 80%;
}
.car {
  width: 100%;
}

.img-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  border-left: 3px solid;
}

.left-side {
  border-right: 3px solid;
}

.details {
  width: 20%;
  /*border-left: 3px solid;*/
  background-color: #594583;
  text-align: left;
}

.in-details {
  padding: 3%;
  font-family: 'Raleway', sans-serif;
  /*font-weight:500;*/
}

.details h2, .details h4 {
  color: #FFFAFA;
}

.all-images {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  min-width: 100%;
  max-width: 100%;
  background-color: #f8f8ff;
  background-image: url('BGSMALL2.png');
  background-repeat: repeat;
  background-size: 175px 175px;

}

.photo {
  /*object-fit: cover;*/
  /*height: 25em;*/
  width: 100%;
  /*max-height: 30em;*/
  /*min-height: 20em;*/
  float: left;
  /*overflow: hidden;*/
  padding: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photos-flex {
  display: flex;
  width: 100%;
  /*max-height: 30em;*/
  min-height: 25em;
}

.photo-div {
  margin: auto;
  width: 100%;
  height: auto;
}

.dropdown {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
}

.active {
  font-weight: bold;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

.inactive {
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

/*.photoWrapper {
  width: 20%;
  float: left;
  overflow: hidden;
}*/
