
.top-of-page {
  border-bottom: solid black;
}

.absolute-bottom-align {
  position: absolute;
  width: 500px;
}

.relative-bottom-align {
  bottom: 0px;
  position: relative;
  text-align: center;
}

.logo {
  position: relative;
  float: left;
}

.formText {
  position: relative;
  padding-bottom: 10px;
}

.submitButton {
  float: right;
}

.filter-form {
  /*position: absolute;*/
  padding-top: 65px;
  bottom: 0px;
}

.buttons {
  padding-top: 90px;
  bottom: 0px;
}

.photo {
  margin: auto;
  display: block;
}

#root, .container-fluid, .car {
  height: 100%;
  background: #FFFAFA;
  /*width: 100%;*/
}
.image-gallery-slide img {
  width: auto;
  height: 100%;
}
.thing img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.preq {
  position: absolute;
  float: left;
}

.next {
  position: absolute;
  float: right;
}

.full-row {
  height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.car {
  /*border: 2px solid;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  /*border: 2px solid green;*/
  display: inline-block;
  /*height: 100%;*/
}
/*.center {
   width: auto;
   height: auto;
   max-height: 100%;
   max-width: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}*/


/*.car img{
  height:auto;
  width: auto;
  background-position:center;
  background-size:cover;
}*/
