.top-of-page {
  border-bottom: solid black;
}

.absolute-bottom-align {
  position: absolute;
  width: 500px;
}

.relative-bottom-align {
  bottom: 0px;
  position: relative;
  text-align: center;
}

.logo {
  position: relative;
  float: left;
}

.formText {
  position: relative;
  padding-bottom: 10px;
}

.submitButton {
  float: right;
}

.filter-form {
  /*position: absolute;*/
  padding-top: 65px;
  bottom: 0px;
}

.buttons {
  padding-top: 90px;
  bottom: 0px;
}
